openapi: 3.2.0
info:
  title: Kallyope Content REST API (derived) Documents API
  version: '2'
  summary: Anonymous read-only REST surface behind kallyope.com, exposing Kallyope's company news, site pages, media library and its first-party library of scientific documents (posters, presentations, publications and video) as JSON.
  description: Kallyope, Inc.
  contact:
    name: Kallyope, Inc.
    url: https://kallyope.com/contact/
  x-derived-by:
    organization: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://kallyope.com/wp-json
  description: Production WordPress REST API root for kallyope.com
tags:
- name: Documents
  description: Kallyope's first-party library of scientific posters, presentations, publications and video.
paths:
  /wp/v2/document:
    get:
      operationId: listDocuments
      tags:
      - Documents
      summary: List documents
      description: List Kallyope's scientific documents — congress posters, presentations, publications and video. Filterable by the first-party program, event, content-type and document-type taxonomies.
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
      - name: tax_relation
        in: query
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: program
        in: query
        description: Limit result set to items with specific terms assigned in the program taxonomy.
        schema:
          type: array
          items:
            type: integer
      - name: program_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the program taxonomy.
        schema:
          type: array
          items:
            type: integer
      - name: event
        in: query
        description: Limit result set to items with specific terms assigned in the event taxonomy.
        schema:
          type: array
          items:
            type: integer
      - name: event_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the event taxonomy.
        schema:
          type: array
          items:
            type: integer
      - name: content-type
        in: query
        description: Limit result set to items with specific terms assigned in the content-type taxonomy.
        schema:
          type: array
          items:
            type: integer
      - name: content-type_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the content-type taxonomy.
        schema:
          type: array
          items:
            type: integer
      - name: document-type
        in: query
        description: Limit result set to items with specific terms assigned in the document-type taxonomy.
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: A page of documents
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
            Cache-Control:
              description: 'Observed: public, max-age=86400.'
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/document/{id}:
    get:
      operationId: getDocument
      tags:
      - Documents
      summary: Get a document by ID
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: A single document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          $ref: '#/components/responses/InvalidPostId'
components:
  responses:
    InvalidPostId:
      description: No record exists with that identifier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_post_invalid_id
            message: Invalid post ID.
            data:
              status: 404
    InvalidParam:
      description: 'A query parameter failed validation. WordPress error envelope with `code: rest_invalid_param` and per-parameter detail under `data.params`.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_invalid_param
            message: 'Invalid parameter(s): per_page'
            data:
              status: 400
              params:
                per_page: per_page must be between 1 (inclusive) and 100 (inclusive)
  schemas:
    Document:
      type: object
      description: A Kallyope scientific document — congress poster, presentation, publication or video. Custom post type `document`.
      properties:
        id:
          type: integer
        date:
          type: string
        date_gmt:
          type: string
        modified:
          type: string
        modified_gmt:
          type: string
        guid:
          $ref: '#/components/schemas/Rendered'
        slug:
          type: string
        status:
          type: string
        type:
          type: string
          const: document
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/Rendered'
        content:
          $ref: '#/components/schemas/Rendered'
        excerpt:
          $ref: '#/components/schemas/Rendered'
        featured_media:
          type: integer
          description: Attachment ID of the splash image.
        template:
          type: string
        meta:
          type: object
        document-type:
          type: array
          items:
            type: integer
          description: Term IDs in the document-type taxonomy.
        program:
          type: array
          items:
            type: integer
          description: Term IDs in the program taxonomy.
        event:
          type: array
          items:
            type: integer
          description: Term IDs in the event taxonomy.
        content-type:
          type: array
          items:
            type: integer
          description: Term IDs in the content-type taxonomy.
        class_list:
          type: array
          items:
            type: string
        acf:
          description: Advanced Custom Fields payload; observed empty.
        yoast_head:
          type: string
          description: Yoast SEO rendered head markup
          including a schema.org JSON-LD graph.: null
        yoast_head_json:
          type: object
          description: Yoast SEO head as structured JSON.
        _links:
          type: object
          description: HAL-style link relations (self
          collection: null
          about: null
          wp:featuredmedia: null
          wp:term: null
          curies).: null
    Rendered:
      type: object
      description: WordPress rendered-content wrapper.
      properties:
        rendered:
          type: string
        protected:
          type: boolean
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json — served as application/json with the HTTP status mirrored into `data.status`.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_no_route.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
x-provenance:
  generated: '2026-08-01'
  method: derived
  source: https://kallyope.com/wp-json/
  note: Derived by API Evangelist from the live, anonymous WordPress REST API route index published at https://kallyope.com/wp-json/ on 2026-08-01, and from an observed HTTP GET of every path below. Kallyope, Inc. does not publish an OpenAPI description; this document describes only routes, query parameters and response shapes that were actually observed on the wire or declared verbatim in the route index. Query parameters are copied from the `args` block the route index publishes for each endpoint. Only the anonymously readable GET surface is described — the route index also registers POST/PUT/PATCH/DELETE on these collections plus 13 further plugin namespaces (ithemes-security, akismet, redirection, yoast, liquidweb/harbor, cptui, duplicate-post, regenerate-thumbnails, wp-site-health, wp-block-editor, wp-abilities, oembed), all of which require an authenticated WordPress session or application password and were not exercised. Nothing here is invented — where a shape was not observable it is left unconstrained rather than guessed.
